.titleForm2{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    padding: 1px;
    margin-left: 1px;
}

.titlekb{                           /* Judul Halaman*/
    color: #000000;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    margin-left: 1px;
    margin-bottom: -20px;
    margin-top: 10px;
    padding-top: 1px;
    font-size: 32px;
}

.card-content{                       /* nyari atur form nya*/
    margin-left: 20px;
    margin-top: 6px;
}

.custom-spacingAlamat1{
    margin-left: -320px;
}

.tombolSimpan{
    width: 100px;         /* Atur lebar */
    height: 35px;  
    margin-top: -30px;
    margin-right: 10px;
    
}

.control .tombolSimpan {
    font-size: 15px;
    
    font-family: "Outfit", sans-serif;
}
